/* Responsif – même logique que ton ancien code */
@media (min-width: 1024px) {
  .intro-media {
    max-width: 25vw;
    max-height: 25vh;
  }

  .navList li a {
    font-size: 100px;
  }

  #navMenu>div>a{
    font-size: 30px;
    width: 150px;
  }
}

@media (max-width: 1023px) and (min-width: 768px) {
  .intro-media {
    max-width: 35vw;
    max-height: 35vh;
  }
}

@media (max-width: 767px) {
  .intro-media {
    max-width: 45vw;
    max-height: 45vh;
  }
}

@media (max-width: 480px) {
  .intro-media {
    max-width: 55vw;
    max-height: 55vh;
  }
}