#app {
  background-color: black;
  height: 100vh;
  width: 100%;
  display: flex;
}

.invisible {
  opacity: 0;
  pointer-events: none;
}

.cartel {
  position: fixed; 
  left: 0;
  top: 0;
  color: black;
  background-color: white;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  width: 20%;
  padding: 20px;
  text-align: justify;
  transform: translate(-50%, -100%);
  z-index: 1000;
}